<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @{ if (Session["name"] != null)
        {
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @*@if (Session["ID"] == "2" )
                        {*@
                          @Html.ActionLink("Üye Kaydet", "UyeKayit", "Home", new { area = "" }, new { @class = "navbar-brand" })
                       @* };*@                       
                        @Html.ActionLink("Üye Listesi", "UyeListesi", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Üye Görev Tanımı", "UyeGörev", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Kullanıcı Kayıt", "User", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Çıkış", "Logout", "Login", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav"></ul>
                    </div>
                </div>
            </div>

            <div class="container body-content">
                @RenderBody()
                <footer>
                    <p>&copy; @DateTime.Now.Year - Metin ŞEN</p>
                </footer>
            </div>

            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
        }
        else
        {
            <div class="container body-content">
                @RenderBody()
                <footer>
                    <p>&copy; @DateTime.Now.Year - Metin ŞEN</p>
                </footer>
            </div>
        }
    }
</body>
</html>